---
import Image from "astro/components/Image.astro";
import flecha from "../../../public/flecha.svg";
---

<!-- <nav class="nav__bread-crumbs">
    <div class="nav__bread__crumbs__links">
        <a href="#">Inicio</a>
        <Image src={flecha} width={15} alt="Flecha" />
        <a href="/">Ortopedia</a>
    </div>
    <a class="nav__bread-crumbs-book" href="#">Contacto</a>
</nav> -->

<style>
    .nav__bread-crumbs {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e4d9d1;
        background-color: #fff;
        padding: 30px;
        background-color: #faf7f5;

        a {
            margin: 0 20px;
            text-decoration: none;
            font-size: 13px;
            color: #927e70;
            &:hover {
                color: #927e70;
            }
        }
    }
    .nav__bread__crumbs__links {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    .nav__bread-crumbs-book {
        display: inline-block;
        border: 1px solid #e4d9d1;
        margin-right: 40px !important;
        text-align: center;
        padding-left: 2em;
        padding-right: 2em;
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #faf7f5;
    }
</style>
