---
import { Icon } from "astro-icon/components";
---

<div class="contact-header">
  <header class="container contact-header__container">
    <!-- Sucursal Veracruz -->
    <div class="container_contact">
      <!-- Dirección (opcional: puedes enlazar a Google Maps) -->
      <div class="contact-header__icon email">
        <Icon name="map-pin" class="email-icon" />
        <p>Sucursal Veracruz</p>
      </div>
      <!-- Teléfono -->
      <a href="tel:+522299371084" class="contact-header__icon phone">
        <Icon name="phone" class="phone-icon" />
        <p>+52 229 937 1084</p>
      </a>

      <!-- Correo -->
      <a
        href="mailto:consultoriosteticdental@hotmail.com"
        class="contact-header__icon email"
      >
        <Icon name="email" class="email-icon" />
        <p>consultoriosteticdental@hotmail.com</p>
      </a>
    </div>

    <!-- Sucursal Playa del Carmen -->
    <div class="container_contact">
      <div class="contact-header__icon email">
        <Icon name="map-pin" class="email-icon" />
        <p>Sucursal Playa del Carmen</p>
      </div>
      <a href="tel:+529841478829" class="contact-header__icon phone">
        <Icon name="phone" class="phone-icon" />
        <p>+52 984 147 8829</p>
      </a>

      <a
        href="mailto:steticdentalplaya@gmail.com"
        class="contact-header__icon email"
      >
        <Icon name="email" class="email-icon" />
        <p>steticdentalplaya@gmail.com</p>
      </a>
    </div>
  </header>
</div>

<style>
  .contact-header {
    background-color: #03192c;
    width: 100%;
    border-bottom: 1px solid #fff3;
  }
  @media (min-width: 1200px) {
    .contact-header {
      height: 4rem; /* altura fija en desktop */
    }
  }

  .container_contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (min-width: 1200px) {
    .container_contact {
      flex-direction: row;
    }
  }

  .contact-header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  /* Cada link se comporta como bloque flex */
  .contact-header__icon {
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-decoration: none; /* quita subrayado */
  }

  .contact-header__icon p {
    color: #dee1e2;
    font-size: 10px;
    margin: 0 10px;
  }

  .email-icon,
  .phone-icon {
    color: #27b9c6;
    font-size: 13px;
    margin: 0 10px;
  }

  /* Por defecto (mobile) ocultamos email y dirección; solo mostramos teléfono */
  .contact-header__icon.email {
    display: none;
  }

  /* A partir de 768 px mostramos todo */
  @media (min-width: 768px) {
    .contact-header__icon.email {
      display: flex;
    }
  }
</style>
